
#price {
  text-align: center;
}

.plan {
  display: inline-block;
  margin: 10px 1%;
  font-family: inherit;
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position:relative;
}

.entry-title {
  background: #53CFE9;
  height: 140px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.entry-title>h3 {
  background: #20BADA;
  font-size: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.entry-title .price {
  position: absolute;
  bottom: -25px;
  background: #20BADA;
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700;
}

.price span {
  position: absolute;
  font-size: 9px;
  bottom: -10px;
  left: 30px;
  font-weight: 400;
}

.entry-content {
  color: #323232;
}

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  margin-left: 40px;
}

.entry-content li {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0;
}

.entry-content li:last-child {
  border: none;
}

.btn {
  padding: 3em 0;
  text-align: center;
}

.btn a {
  background: #323232;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none
}
.hot {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
}
.basic .entry-title {
  background: #75DDD9;
}

.basic .entry-title > h3 {
  background: #44CBC6;
}

.basic .price {
  background: #44CBC6;
}

.standard .entry-title {
  background: #4484c1;
}

.standard .entry-title > h3 {
  background: #3772aa;
}

.standard .price {
  background: #3772aa;
}

.ultimite .entry-title > h3 {
  background: #DD4B5E;
}

.ultimite .entry-title {
  background: #F75C70;
}

.ultimite .price {
  background: #DD4B5E;
}

label {
	text-transform:none !important;
	font-weight:normal !important;
	letter-spacing:normal !important;
}

.checkboxauswahl {
	 --active: #275efe ;
	 --active-inner: #fff ;
	 --focus: 2px rgba(39, 94, 254, .3) ;
	 --border: #bbc1e1 ;
	 --border-hover: #275efe ;
	 --background: #fff ;
	 --disabled: #f6f8ff ;
	 --disabled-inner: #e1e6f9 ;
	 -webkit-appearance: none ;
	 -moz-appearance: none ;
	 height: 21px ;
	 outline: none ;
	 display: inline-block ;
	 vertical-align: top ;
	 position: relative ;
	 margin: 0 ;
	 cursor: pointer ;
	 border: 1px solid var(--bc, var(--border)) ;
	 background: var(--b, var(--background)) ;
	 transition: background 0.3s, border-color 0.3s, box-shadow 0.2s ;
	 opacity:1 !important;
}
 .checkboxauswahl:after {
	 content: '' ;
	 display: block ;
	 left: 0 ;
	 top: 0 ;
	 position: absolute ;
	 transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s) ;
}
 .checkboxauswahl:checked {
	 --b: var(--active) ;
	 --bc: var(--active) ;
	 --d-o: 0.3s ;
	 --d-t: 0.6s ;
	 --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2) ;
}
 .checkboxauswahl:disabled {
	 --b: var(--disabled) ;
	 cursor: not-allowed ;
	 opacity: 0.9 ;
}
 .checkboxauswahl:disabled:checked {
	 --b: var(--disabled-inner) ;
	 --bc: var(--border) ;
}
 .checkboxauswahl:disabled + label {
	 cursor: not-allowed ;
}
 .checkboxauswahl:hover:not(:checked):not(:disabled) {
	 --bc: var(--border-hover) ;
}
 .checkboxauswahl:focus {
	 box-shadow: 0 0 0 var(--focus) ;
}
 .checkboxauswahl:not(.switch) {
	 width: 21px ;
}
 .checkboxauswahl:not(.switch):after {
	 opacity: var(--o, 0) ;
}
 .checkboxauswahl:not(.switch):checked {
	 --o: 1 ;
}
 .checkboxauswahl + label {
	 font-size: 14px ;
	 line-height: 21px ;
	 display: inline-block ;
	 vertical-align: top ;
	 cursor: pointer ;
	 margin-left: 4px ;
}
 input[type='checkbox']:not(.switch) {
	 border-radius: 7px ;
}
 input[type='checkbox']:not(.switch):after {
	 width: 5px ;
	 height: 9px ;
	 border: 2px solid var(--active-inner) ;
	 border-top: 0 ;
	 border-left: 0 ;
	 left: 7px ;
	 top: 4px ;
	 transform: rotate(var(--r, 20deg)) ;
}
 input[type='checkbox']:not(.switch):checked {
	 --r: 43deg ;
}
 input[type='checkbox'].switch {
	 width: 38px ;
	 border-radius: 11px ;
}
 input[type='checkbox'].switch:after {
	 left: 2px;
	 top: 2px;
	 border-radius: 50%;
	 width: 15px;
	 height: 15px;
	 background: var(--ab, var(--border));
	 transform: translateX(var(--x, 0));
}
 input[type='radio'] {
	 border-radius: 50% ;
}
 input[type='radio']:after {
	 width: 19px ;
	 height: 19px ;
	 border-radius: 50% ;
	 background: var(--active-inner) ;
	 opacity: 0 ;
	 transform: scale(var(--s, 0.7)) ;
}
 input[type='radio']:checked {
	 --s: 0.5 ;
}
 








